Repository Bee-Swarm-Simulator-Remix/guardian-realm, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, workflows, automod, api, commands, setup-script

.github/labeler.yml:

documentation:
- "docs/*"
- "docs/**/*"
- "README.md"

workflows:
- ".github/*"
- ".github/**/*"

automod:
- "src/automod/*"
- "src/automod/**/*"

api:
- "src/api/*"
- "src/api/**/*"

commands:
- "src/commands/*"
- "src/commands/**/*"

setup-script:
- "setup.js"

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update UpdateCommand.ts
  src/commands/settings/UpdateCommand.ts
Labels: commands

Update UpdateCommand.ts
  src/commands/settings/UpdateCommand.ts
Labels: commands

Update README.md
  README.md
Labels: documentation

Update links.ts
  src/utils/links.ts
Labels: none

Update HelpCommand.ts
  src/commands/settings/HelpCommand.ts
Labels: commands

Update links.ts
  src/utils/links.ts
Labels: none

Update HelpCommand.ts
  src/commands/settings/HelpCommand.ts
Labels: commands

Update HelpCommand.ts
  src/commands/settings/HelpCommand.ts
Labels: commands

Update HelpCommand.ts
  src/commands/settings/HelpCommand.ts
Labels: commands

Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: commands

Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: commands

Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: commands

Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: commands

Delete src/commands/fun/AICommand.ts
  src/commands/fun/AICommand.ts
Labels: commands

Update AboutCommand.ts
  src/commands/settings/AboutCommand.ts
Labels: commands

Create GuildsCommand.ts
  src/commands/Admins/GuildsCommand.ts
Labels: commands

Update GuildsCommand.ts
  src/commands/Admins/GuildsCommand.ts
Labels: commands

Rename GuildsCommand.ts to GuildsCommand.ts
  src/commands/admins/GuildsCommand.ts
Labels: commands

Create ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands

Update ServerInviteCommand.ts
  src/commands/admins/ServerInviteCommand.ts
Labels: commands
